@font-face {
    font-family: 'Geometric 415';
    src: url('../assets/fonts/geometric\ 415\ black\ bt.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Geometric 212';
    src: url('../assets/fonts/geometric\ 212\ book\ condensed\ bt.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}

main{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #06283F;
}

div.login{
    color: #ffff;
    font-family: 'Geometric 212';
}

div.login input{
    background-color:transparent;
    border: #06283F;
    border-bottom: 2px solid #C3EAFF;
    border-radius:0;
    outline: none;
}

div.login input:focus{
    border: 2px solid #C3EAFF;
    /* border: #06283F; */
    /* border-radius: 5%; */
    outline: none;
    transition: all 0.8s;
}

div.login select, div.login label{
    background-color: transparent;
    color: #ffff;
}

div.login h2{
    border-bottom: 2px solid #3AB3E7;
}

form .btn.primary{
    border: 2px solid #3AB3E7;
    background-color: #3AB3E7;
    color: #06283F;
}

form .btn.primary:hover{
    border: 2px solid #3AB3E7;
    background-color: transparent;
    color: #3AB3E7;
    transition: all 0.5s;
}

form .btn.secondary{
    background-color: none;
    color: #ffff;
    border: 2px solid #3AB3E7;
}

form .btn.secondary:hover{
    opacity: 50%;
    transition: all 0.5s;
}

div.login h3, div.login p{
    color: #06283F;
}

div.login img{
    max-width: 30%;
}

.button-box {
    width: 75%;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #1a52691a;
    border-radius: 10%;
    border: 2px solid #C3EAFF;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    color: #C3EAFF;
    background-color: #3AB3E7;
    border-radius: 30px;
    transition: 0.5s;
}

#btn button {
    color: #C3EAFF
}