@font-face {
    font-family: 'Geometric 415';
    src: url('../assets/fonts/geometric\ 415\ black\ bt.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Geometric 212';
    src: url('../assets/fonts/geometric\ 212\ book\ condensed\ bt.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}

main{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #06283F;
}

div.login{
    color: #ffff;
    font-family: 'Geometric 212';
}

div.login input{
    background-color:transparent;
    border: #06283F;
    border-bottom: 2px solid #C3EAFF;
    border-radius:0;
    outline: none;
}

div.login input:focus{
    border: 2px solid #C3EAFF;
    /* border: #06283F; */
    /* border-radius: 5%; */
    outline: none;
    transition: all 0.8s;
}

div.login select, div.login label{
    background-color: transparent;
    color: #ffff;
}

div.login h2{
    border-bottom: 2px solid #3AB3E7;
}

form .btn.primary{
    border: 2px solid #3AB3E7;
    background-color: #3AB3E7;
    color: #06283F;
}

form .btn.primary:hover{
    border: 2px solid #3AB3E7;
    background-color: transparent;
    color: #3AB3E7;
    transition: all 0.5s;
}

form .btn.secondary{
    background-color: none;
    color: #ffff;
    border: 2px solid #3AB3E7;
}

form .btn.secondary:hover{
    opacity: 50%;
    transition: all 0.5s;
}

div.login h3, div.login p{
    color: #06283F;
}

div.login img{
    max-width: 30%;
}

.display-none{
    display: none;
}

/* input[type="checkbox"] {
    &.toggle {
        opacity: 0;
        position: absolute;
        left: -99999px;
        & + label {
            height: 40px;
            line-height: 40px;
            background-color: #ccc;
            padding: 0px 16px;
            border-radius: 16px;
            display: inline-block;
            position: relative;
            cursor: pointer;
            @include transition(all .25s ease-in);
            @include box-shadow(inset 0px 0px 2px rgba(0,0,0, .5));
            &:before, &:hover:before {
                content: ' ';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 46px;
                height: 36px;
                background: #fff;
                z-index: 2;
                @include transition(all .25s ease-in);
                @include border-radius(14px);
            }
        .off, .on {
          color: #fff;
        }
        
        .off {
          margin-left: 46px;
          display:inline-block;
        }
        
        .on {
          display: none;
        }
        
      }
  
      &:checked + label {
        
        .off {
          display: none;
        }
        .on {
          margin-right: 46px;
          display:inline-block;
        }
        
      }
  
      &:checked + label, &:focus:checked + label {
        
        background-color: #67a5ec;
        
        &:before, &:hover:before {
          
          background-position: 0 0;
          top: 2px;
          left: 100%;
          margin-left:-48px;
          
        }
      }
  
    }
    
  }

  option{
    color: #06283F;
  } */